* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #91DDCF;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }

  .choice{
    height: 200px;
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .choice:hover{
    background-color: #081b31;
    cursor: pointer;
    border-radius: 60%;  
  }
  .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 2rem;
    gap: 4rem;
    font-size: 2rem;
    
  }
  #user-score,#comp-score{
    font-size: 4rem;
  }
.msg-container{
    margin-top: 4rem;
}
#msg{
    
background-color: #081b31;
color: #fff;
display: inline;
padding: 1rem;
font-size: 2rem;
border-radius: 1rem;
}